.projects {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // padding: 0 2rem;

     @media screen and (max-width: 750px) {
           margin-top: 1rem;
           
          }

    &__item {
        display: flex;
        margin-bottom: 6rem;
        
        @media screen and (max-width: 750px) {
           display: grid;
           grid-template-columns: repeat(1, 1fr);
           
          }

        &:nth-child(2), &:nth-child(4) {
            flex-direction: row-reverse;
        }
       

        &-img {
            background-size: cover;
            height: 50rem;
            flex: 2;

            @media screen and (max-width: 750px) {
                margin-bottom: 3rem;
               }
}
        
        &-content {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
           
            @media screen and (max-width: 750px) {
                justify-content: flex-start;
                padding: 4rem 0;
               }
           

            &-container {
                width: 70%;
                // border-top: 2px solid #b9b9b933;
                // border-bottom: 2px solid #b9b9b933;
                // padding: 10rem 0;

                // @media screen and (max-width: 1000px) {
                //     background: url(../../assets/portfolio/tablet/image-portfolio-insure.jpg) no-repeat center;
                //   }
            }

            &-head {
                font-size: 4rem;
                font-family: 'Ibarra Real Nova', serif;
                font-weight: 700;
                color: #33323D;
                
            }
            &-text {
                font-size: 1.6rem;
                width: 85%;
                line-height: 2;
                margin: 2.5rem 0;
                font-family: 'Public Sans', sans-serif;
                color: #33323D;

                @media screen and (max-width: 1000px) {
                    width: 100%;
                  }
            }
        }
    }
}

.img1 {
    background: url(../../assets/portfolio/desktop/image-portfolio-manage.jpg);

    
    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-manage.jpg) no-repeat center;
      }
    @media screen and (max-width: 750px) {
        background: url(../../assets/portfolio/mobile/image-portfolio-manage.jpg) no-repeat center;
        background-size: cover;
      }
}
.img2 {
    background: url(../../assets/portfolio/desktop/image-portfolio-bookmark.jpg);

    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-bookmark.jpg) no-repeat center;
      }

      @media screen and (max-width: 750px) {
        background: url(../../assets/portfolio/mobile/image-portfolio-bookmark.jpg) no-repeat center;
        background-size: cover;
      }
}
.img3 {
    background: url(../../assets/portfolio/desktop/image-portfolio-insure.jpg);

    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-insure.jpg) no-repeat center;
      }

      @media screen and (max-width: 750px) {
        background: url(../../assets/portfolio/mobile/image-portfolio-insure.jpg) no-repeat center;
        background-size: cover;
      }
}
.img4 {
    background: url(../../assets/portfolio/desktop/image-portfolio-fylo.jpg);

    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-fylo.jpg) no-repeat center;
      }

      @media screen and (max-width: 750px) {
        background: url(../../assets/portfolio/mobile/image-portfolio-fylo.jpg) no-repeat center;
        background-size: cover;
      }
}

.border-top {
    position: absolute;
    top: 0;
    border-bottom: 2px solid #b9b9b933;
    width: 35rem;

    @media screen and (max-width: 1000px) {
       width: 26rem;
      }

      @media screen and (max-width: 750px) {
        width: 50rem;
       }
}

.border-bottom {
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #b9b9b933;
    width: 35rem;

    @media screen and (max-width: 1000px) {
        width: 26rem;
      }

      @media screen and (max-width: 750px) {
        width: 50rem;
       }
}