.projects {
    margin-top: 5rem;

    &__item {
        display: flex;
        margin-bottom: 6rem;

        &:nth-child(2), &:nth-child(4) {
            flex-direction: row-reverse;
        }
       

        &-img {
            background-size: cover;
            height: 50rem;
            flex: 2;
        }
        
        &-content {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
           
           

            &-container {
                width: 70%;
                // border-top: 2px solid #b9b9b933;
                // border-bottom: 2px solid #b9b9b933;
                // padding: 10rem 0;

                // @media screen and (max-width: 1000px) {
                //     background: url(../../assets/portfolio/tablet/image-portfolio-insure.jpg) no-repeat center;
                //   }
            }

            &-head {
                font-size: 4rem;
                font-family: 'Ibarra Real Nova', serif;
                font-weight: 700;
                color: #33323D;
                
            }
            &-text {
                font-size: 1.6rem;
                width: 85%;
                line-height: 2;
                margin: 2.5rem 0;
                font-family: 'Public Sans', sans-serif;
                color: #33323D;

                @media screen and (max-width: 1000px) {
                    width: 100%;
                  }
            }
        }
    }
}

.img1 {
    background: url(../../assets/portfolio/desktop/image-portfolio-manage.jpg);

    
    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-manage.jpg) no-repeat center;
      }
}
.img2 {
    background: url(../../assets/portfolio/desktop/image-portfolio-bookmark.jpg);

    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-bookmark.jpg) no-repeat center;
      }
}
.img3 {
    background: url(../../assets/portfolio/desktop/image-portfolio-insure.jpg);

    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-insure.jpg) no-repeat center;
      }
}
.img4 {
    background: url(../../assets/portfolio/desktop/image-portfolio-fylo.jpg);

    @media screen and (max-width: 1000px) {
        background: url(../../assets/portfolio/tablet/image-portfolio-fylo.jpg) no-repeat center;
      }
}

.border-top {
    position: absolute;
    top: 0;
    border-bottom: 2px solid #b9b9b933;
    width: 35rem;

    @media screen and (max-width: 1000px) {
       width: 26rem;
      }
}

.border-bottom {
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #b9b9b933;
    width: 35rem;

    @media screen and (max-width: 1000px) {
        width: 26rem;
      }
}