.contact {
    margin-top: 6rem;
    margin-bottom: 6rem;

    @media screen and (max-width: 750px) {
        width: 90%;
        margin-top: 2rem;
      }

    & h2 {
        font-size: 4rem;
        font-family: 'Ibarra Real Nova', serif;
        font-weight: 700;
    }

    &__get-in-touch {
        display: flex;
        border-top: 1px solid #33323d2a;
        border-bottom: 1px solid #33323d2a;
        padding: 4rem 0;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
          }

        & h2 {
            flex: 2;
            
        }

        &-content {
            flex: 2;

            & p {
                font-size: 1.6rem;
                font-family: 'Public Sans', sans-serif;
                color: #33323D;
                line-height: 1.9;
                margin-bottom: 7rem;

                @media screen and (max-width: 1000px) {
                    margin-top: 1.2rem;
                  }
            }
            

            &-logos svg:not(:first-child){
                margin-left: 1.4rem;
            }
            
        }
    }

    &__contact-me {
        display: flex;
        margin-top: 3rem;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
          }

        & h2 {
            flex: 2;
            margin-top: 3rem;
        }

        &-content {
            flex: 2;

            & form {
                display: flex;
                flex-direction: column;

                & label {
                    font-size: 1.3rem;
                    font-family: 'Public Sans', sans-serif;
                    margin: 2rem 0;
                }

                & input {
                    padding: 1.5rem;
                    background-color: #9797972a;
                    border: none;
                }
                & textarea {
                    padding: 1.5rem 1.5rem 3.5rem;
                    background-color: #9797972a;
                    border: none;
                }

                & button {
                    text-transform: uppercase;
                    background-color: #203A4C;
                    color: #fff;
                    margin: 4rem 0;
                    width: 40%;

                    @media screen and (max-width: 750px) {
                        width: 60%;
                      }
                }
            }
        }
    }
}