.about {
    display: flex;
    margin-top: 24rem;

    @media screen and (max-width: 750px) {
        flex-direction: column;
        height: 100vh;
        margin-top: 44rem;
      }

    &__img {
        background: url(../../assets/homepage/desktop/image-homepage-profile.jpg) center no-repeat;
        background-size: cover;
        height: 55rem;
        flex: 2;

        @media screen and (max-width: 1000px) {
            background: url(../../assets/homepage/tablet/image-homepage-profile.jpg) center no-repeat;
            background-size: cover;
            flex: 1.5;
          }

          @media screen and (max-width: 750px) {
            background: url(../../assets/homepage/mobile/image-homepage-profile.jpg) center no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
          }
    }
    
    
    &__content {
        flex: 2;
        // padding: 3rem 0;
        
        @media screen and (max-width: 1000px) {
           
            width: 70%;
            flex: 2.5;
          }
        @media screen and (max-width: 750px) {
           
            width: 100%;
            margin-top: 10rem;
          }
        
        

        &-container {
            height: 100%;
            width: 57%;
            margin: 0 auto;
            border-top: 2px solid #97979733;
            border-bottom: 2px solid #b9b9b933;
            padding-bottom: 4rem;
            padding-top: 4rem;

            @media screen and (max-width: 1000px) {
                width: 80%;
              }
            
        }

        &-head {
            font-size: 4rem;
            font-family: 'Ibarra Real Nova', serif;
            font-weight: 700;
        }
        &-text {
            font-size: 1.6rem;
            line-height: 1.6;
            margin: 1.5rem 0;
            font-family: 'Public Sans', sans-serif;
        }
        &-btn {
            font-size: 1.2rem;
            margin-top: 1.4rem;
            padding: 1.5rem 3.5rem;
            text-transform: uppercase;
            color: #33323D;
            background-color: #fff;
            outline: none;
            border: 2px solid #33323D;
            letter-spacing: .2rem;
            cursor: pointer;
        }
    }
}