.nav-bar {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        list-style: none;
        align-items: center;

        @media screen and (max-width: 750px) {
            display: none;
          }

        &-link {
            text-decoration: none;
            color: #33323D;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: 'Public Sans', sans-serif;
            letter-spacing: .2rem;
        }
        &-link:not(:last-child) {
           margin-right: 3.2rem;
          
        }   
    }
}

.hamburger {
    display: none;
    @media screen and (max-width: 750px) {
        display: block;
      }
}

.nav-container {
    position: relative;
}

.mobile-nav {
    display: none;
    position: absolute;
    top: 9rem;
    right: 2rem;
    background-color: #33323D;
    padding: 1rem 6rem 4rem;
    z-index: 1000;

    &__list {
        text-align: center;
        list-style: none;

        &-link{
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: 'Public Sans', sans-serif;
            letter-spacing: .2rem;
        }
        &-link li{
          margin-top: 3rem;
        }
    }
}