* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  
}

.container {
  width: 75%;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    width: 95%;
  }
  @media screen and (max-width: 750px) {
    width: 90%;
  }
}

.btn {
  padding: 1.5rem 3.5rem;
  text-transform: uppercase;
  color: #33323D;
  background-color: #fff;
  outline: none;
  border: 1px soild #33323D;
  letter-spacing: .2rem;
  cursor: pointer;
}